<!DOCTYPE html>
<html>
<head>
  <title>Isthereparkingonyork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p><span id="forkongithub">
  <a href="https://github.com/amassaad/isthereparkingonyork" class="bg-black  ">
    Find this on GitHub
  </a>
</span></p>

<%= yield %>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- York OC Transpo -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2696960216219467"
     data-ad-slot="7393187685"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- York OC Transpo -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2696960216219467"
     data-ad-slot="7393187685"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- York OC Transpo -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2696960216219467"
     data-ad-slot="7393187685"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</body>
</html>
